<!-- sticky-nav fixed -->
<nav class="bg-white w-full top-0 z-20 border-b">
  <div class="items-center px-4 max-w-screen-xl mx-auto md:px-8 lg:flex">
    <div class="flex items-center justify-between py-3 lg:py-4 lg:block"><a routerLink="/" rel="nofollow">
        <img src="https://raw.githubusercontent.com/ffmpegwasm/ffmpeg.wasm/main/apps/website/static/img/logo192.png"
          width="80" alt="ffmpegwasm logo"></a>
      <div class="lg:hidden">
        <button class="text-gray-700 outline-none p-2 rounded-md focus:border-gray-400 focus:border"><svg
            xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16"></path>
          </svg></button>
      </div>
    </div>
    <div class="flex-1 justify-between flex-row-reverse lg:overflow-visible lg:flex lg:pb-0 lg:pr-0 lg:h-auto hidden">
      <!-- <div>
        <ul class="flex flex-col-reverse space-x-0 lg:space-x-6 lg:flex-row">
          <li class="mt-8 mb-8 lg:mt-0 lg:mb-0"><a href="javascript:void(0)" class="text-gray-600 hover:text-indigo-600"
              rel="nofollow">Contact</a></li>
          <li class="mt-4 lg:mt-0"><a href="javascript:void(0)"
              class="py-3 px-4 text-center border text-gray-600 hover:text-indigo-600 rounded-md block lg:inline lg:border-0"
              rel="nofollow">Login</a></li>
          <li class="mt-8 lg:mt-0"><a href="javascript:void(0)"
              class="py-3 px-4 text-center text-white bg-indigo-600 hover:bg-indigo-700 rounded-md shadow block lg:inline"
              rel="nofollow">Sign Up</a></li>
        </ul>
      </div> -->
      <div class="flex-1">
        <ul class="justify-end items-center space-y-8 lg:flex lg:space-x-6 lg:space-y-0">
          <li class="text-gray-600 hover:text-indigo-600"><a class="" routerLink="/transcode-webm-to-mp4" rel="nofollow">Webm to Mp4</a></li>
          <li class="text-gray-600 hover:text-indigo-600"><a class="" routerLink="/snip-video" rel="nofollow">Snip video</a></li>
          <!-- <li class="text-gray-600 hover:text-indigo-600"><a class="" routerLink="" rel="nofollow">Guides</a></li>
          <li class="text-gray-600 hover:text-indigo-600"><a class="" routerLink="" rel="nofollow">Partners</a></li>
          <li class="text-gray-600 hover:text-indigo-600"><a class="" routerLink="" rel="nofollow">Teams</a></li>
          <li class="text-gray-600 hover:text-indigo-600"><a class="" routerLink="" rel="nofollow">Blogs</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
